@import url("https://fonts.googleapis.com/css2?family=Geist:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Geist:wght@100..900&family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");
@import "tailwindcss";

:root {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scrollbar-color: rgba(255, 255, 255, 0.2) transparent;
  scroll-behavior: smooth;
}

body {
}

@theme {
  /* ================= FONTS ================= */
  --font-geist: "Geist", sans-serif;
  --font-ibm-plex-mono: "IBM Plex Mono", monospace;

  /* ================= DARK MODE (default) ================= */
  --color-main-bg: #1f1f1f;
  --color-secondary-bg: #181818;
  --color-primary: #ffffff;
  --color-secondary: #b1b1b1;
  --color-tertiary: #181818;
  --color-green: #5bee6c;

  /* ================= BREAKPOINTS ================= */
  --breakpoint-sm: 640px;
  --breakpoint-medium: 810px;
  --breakpoint-lg: 1024px;
  --breakpoint-large: 1370px;
}

/* ================= LIGHT MODE ================= */
.light {
  --color-main-bg: #f7f7f7;
  --color-secondary-bg: #ffffff;
  --color-primary: #111111;
  --color-secondary: #555555;
  --color-tertiary: #f0f0f0;
  --color-green: #269b32;
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.2);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(255, 255, 255, 0.35);
}
