PORT=
NODE_ENV=

MONGO_URI=
MONGODB_URI_LLM=

POSTGRES_HOST=
POSTGRES_PORT=
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=

STRIPE_SECRET_KEY=
STRIPE_WEBHOOK_SECRET=
STRIPE_SUCCESS_URL=
STRIPE_CANCEL_URL=

CLIENT_URL=

OPENAI_API_KEY=
OPENAI_API_KEY_LLM=
HF_API_KEY=

PIPELINE_PROVIDER=

EMBEDDINGS_PROVIDER=
EMBEDDINGS_MODEL=

TOKEN_INFERENCE_PROVIDER=
TOKEN_INFERENCE_MODEL=

TOKEN_PREDICTION_PROVIDER=

OLLAMA_BASE_URL=
OLLAMA_MODEL=
